# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/

# Django
staticfiles/
media/
logs/*.log
*.sqlite3

# Node.js
node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.idea/
.vscode/
*.code-workspace

# Docker
*.env.docker
